<?xml version="1.0" encoding="utf-8" ?>
<configuration>
     <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Deploy_SSRS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
   <appSettings>
    <add key="Setting1" value="May 5, 2014"/>
    <add key="Setting2" value="May 6, 2014"/>
  </appSettings>
    <applicationSettings>
        <Deploy_SSRS.Properties.Settings>
            <setting name="Deploy_SSRS_nibs_ReportExecutionService" serializeAs="String">
                <value>http://nibs:80/ReportServer/ReportExecution2005.asmx</value>
            </setting>
            <setting name="Deploy_SSRS_ReportingServices2010_ReportingService2010"
                serializeAs="String">
                <value>http://nibs:80/ReportServer/ReportService2010.asmx</value>
            </setting>
        </Deploy_SSRS.Properties.Settings>
    </applicationSettings>
  <connectionStrings>
    <add name="Connection_WGB01DB7049" connectionString="Data Source=localhost;Password=&quot;yUIFe0zjFE7XJ8BXU04G5Q==&quot;">    </add>
  </connectionStrings>
</configuration>